@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* Basic CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary-text-color: #1a1a1a;
  --secondary-text-color: #949fb7;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--primary-text-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  color: var(--secondary-text-color);
  background: transparent;
}

::-webkit-input-placeholder {
  color: var(--secondary-text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
